[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.3.1"
tensorflow-probability = "==0.11.1"
matplotlib = "*"
numpy = "==1.18.5"
sklearn = "*"
dill = "*"
protobuf = "==3.20."
keras = "==2.4.3"

[requires]
python_version = "3.7"
